# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from EDA_pr import *

### Neighborhood House Price Data Overview
- The data we have acquired is from zillow and it shows the average house price for each nighborhood in the country
- Each row represents a neighborhood in a state and show the average house price for each month from 1-31-2000 to 1-31-2024
- We cleaned and filtered the data to make 2 different csv files(pre and post covid) for house prices only in Chicago.
- We also transposed the data after so that all the rows are now columns and the columns are now rows.
    - Each row represents a month between the year 2000 and 2024
    - Each column is a neighborhood

In [2]:
# Original data from Zillow without any filtering and cleaning.
neighborhood_data = pd.read_csv('csv_files/Neighborhood_House_Price.csv')
neighborhood_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,66775.313666,...,3.134925e+05,3.147765e+05,3.166145e+05,3.190725e+05,3.220546e+05,3.246938e+05,3.271008e+05,3.291411e+05,3.307035e+05,3.317141e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,132638.938818,...,3.585637e+05,3.580372e+05,3.587546e+05,3.605508e+05,3.634265e+05,3.662741e+05,3.687446e+05,3.708867e+05,3.729634e+05,3.748541e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,387530.423074,...,1.276836e+06,1.270266e+06,1.264532e+06,1.258336e+06,1.248721e+06,1.238858e+06,1.227969e+06,1.216308e+06,1.208912e+06,1.203406e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,634533.128812,...,1.259968e+06,1.250928e+06,1.245395e+06,1.241081e+06,1.236655e+06,1.232169e+06,1.224024e+06,1.212976e+06,1.202819e+06,1.196051e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,127876.428774,...,6.198684e+05,6.208305e+05,6.245314e+05,6.317380e+05,6.413973e+05,6.511754e+05,6.594772e+05,6.659235e+05,6.701266e+05,6.678988e+05

In [3]:
# Transformed pre and post covid data for neighborhoods only in Chicago
neighborhood_2017_2019_pre = pd.read_csv('csv_files/neighborhood_data_2017_2019.csv')
neighborhood_2021_present_post = pd.read_csv('csv_files/neighborhood_data_2021_present.csv')

neighborhood_2017_2019_pre.head()

,date,Lake View,West Ridge,Little Village,Logan Square,Lincoln Park,South Austin,Irving Park,Rogers Park,Uptown,...,Beverly Woods,Sleepy Hollow,Lithuanian Plaza,Forest Glen,Beverly View,Heart of Italy,Golden Gate,Marycrest,Mount Greenwood Heights,Schorsch Forest View
0,2017-01-31,320800.53,187637.44,90925.08,385189.74,527941.39,104123.27,308905.87,156084.35,222163.90,...,196512.18,150302.70,109474.19,353627.49,115870.21,174695.62,25263.13,222620.47,247078.01,267835.82
1,2017-02-28,323403.88,189553.40,92159.98,387715.94,530161.42,104668.31,311086.23,157619.44,223640.40,...,198572.76,152146.67,114100.98,357398.54,117361.01,177001.34,25686.90,224828.56,248058.67,269378.31
2,2017-03-31,325554.65,191027.03,93255.23,388969.13,532967.82,105138.79,313207.54,158774.66,224694.87,...,200222.71,153710.00,117062.46,360254.80,118906.74,178717.89,26756.02,227139.69,248698.29,270910.81
3,2017-04-30,326994.07,191889.95,93859.98,389250.31,535106.28,104823.29,314064.33,159399.12,225477.48,...,201977.06,154409.58,116186.07,363148.26,120138.56,180467.27,27796.86,228359.51,248938.92,272070.80
4,2017-05-31,327962.34,192260.37,94812.11,388709.64,538274.75,104754.83,314049.22,159471.94,225828.91,...,203294.72,155492.11,115115.95,365085.52,120869.52,181256.70,28691.81,228371.01,249231.38,272600.60

### Exploring the Pre and Post Data

In [4]:
print("HOUSE PRICE BETWEEN 2017-19")
df, df2 = parse_df(neighborhood_2017_2019_pre)

pd.set_option("display.max_rows", None)
neighborhood_min_max(df)
# get_neighborhood_price_stats(df, df2)

HOUSE PRICE BETWEEN 2017-19

NameError: name 'parse_df' is not defined

In [4]:
# get current most expensive and cheapest neigborhood. (DONE)
# find a correlation between crime and the price of house in the neighborhoods. 
# find the arrest made for expensive and cheap neighbor hood (Pre Covid, Post Covid)
# What is the most common location description of where the crime took place

In [5]:
neighborhood_2017_2019 = pd.read_csv('csv_files/neighborhood_data_2017_2019.csv')
neighborhood_2021_present = pd.read_csv('csv_files/neighborhood_data_2021_present.csv')

print("HOUSE PRICE BETWEEN 2017-19")
get_neighborhood_price_stats(neighborhood_2017_2019)

print("HOUSE PRICE BETWEEN 2021-present")
get_neighborhood_price_stats(neighborhood_2021_present)

crime_data1 = pd.read_csv('csv_files/Crimes_2017_to_2019.csv')
print("CRIME STATS (2017-19)")
get_crime_stats(crime_data1)

crime_data2= pd.read_csv('csv_files/Crimes_2021_to_Present.csv')
print("CRIME STATS (2021-Present)")
get_crime_stats(crime_data2)

HOUSE PRICE BETWEEN 2017-19
AVG MIN PRICE:  227166.85   AVG MAX PRICE:  255475.63
MEDIAN MIN PRICE:  212368.71   MEDIAN MAX PRICE:  242843.24
Cheapest House Price: Golden Gate $25263.13 2017-01-31
Expensive House Price: North Center $585356.81 2018-05-31
USING AVERAGE
	Cheapest Neighborhood: Golden Gate $37259.17
	Expensive Neighborhood: North Center $573486.19
USING MEDIAN
	Cheapest Neighborhood: Golden Gate $40088.27
	Expensive Neighborhood: North Center $574463.34
HOUSE PRICE BETWEEN 2021-present
AVG MIN PRICE:  264325.93   AVG MAX PRICE:  299737.1
MEDIAN MIN PRICE:  260251.67   MEDIAN MAX PRICE:  294168.19
Cheapest House Price: Golden Gate $55617.85 2021-01-31
Expensive House Price: Ravenswood Manor $696986.36 2023-11-30
USING AVERAGE
	Cheapest Neighborhood: Ford City $68128.89
	Expensive Neighborhood: Ravenswood Manor $655318.56
USING MEDIAN
	Cheapest Neighborhood: Ford City $67676.01
	Expensive Neighborhood: Ravenswood Manor $658750.82
CRIME STATS (2017-19)
Least Common Type of Crime:  ARSON
Most Common Type of Crime:  WEAPONS VIOLATION

Neighborhood with Least Arrest:  Edison Park , Number of Arrest:  79
Neighborhood with Most Arrest:  Austin , Number of Arrest:  11443

Neighborhood with Least Crime:  Edison Park , Number of Crimes:  777
Neighborhood with Most Crime:  Austin , Number of Crimes:  44856

TOP 5 LOCATION MOST CRIME
Location Description  NUM CRIME
              STREET     174926
           RESIDENCE     131615
           APARTMENT     101710
            SIDEWALK      62242
               OTHER      31925

TOP 5 LOCATION LEAST CRIME
Location Description  NUM CRIME
                YMCA          1
   RAILROAD PROPERTY          1
       ROOMING HOUSE          1
              OFFICE          1
        NURSING HOME          1

LIST OF MONTHS WITH NUMBER OF CRIMES FROM MOST TO LEAST

    Month  NUM CRIMES
     July       73950
   August       73444
      May       70977
     June       70759
September       67156
  October       66122
    April       63128
 December       61772
    March       61526
  January       61348
 November       60622
 February       54432


CRIME STATS (2021-Present)
Least Common Type of Crime:  ARSON
Most Common Type of Crime:  WEAPONS VIOLATION

Neighborhood with Least Arrest:  Edison Park , Number of Arrest:  63
Neighborhood with Most Arrest:  Austin , Number of Arrest:  5743

Neighborhood with Least Crime:  Edison Park , Number of Crimes:  838
Neighborhood with Most Crime:  Austin , Number of Crimes:  37281

TOP 5 LOCATION MOST CRIME
                  Location Description  NUM CRIME
                                STREET     203027
                             APARTMENT     141976
                             RESIDENCE      95109
                              SIDEWALK      37672
PARKING LOT / GARAGE (NON RESIDENTIAL)      26416

TOP 5 LOCATION LEAST CRIME
Location Description  NUM CRIME
                FARM          1
        BANQUET HALL          1
  CTA SUBWAY STATION          1
            ELEVATOR          1
            BASEMENT          1

LIST OF MONTHS WITH NUMBER OF CRIMES FROM MOST TO LEAST

    Month  NUM CRIMES
  January       70657
     July       64357
  October       64204
   August       63815
September       62945
     June       61281
      May       59237
 November       58228
 December       56610
    March       54045
    April       53408
 February       51792

In [ ]:
# Mention about the Severity score of Loop because alot of UIC student take Union, OTC in the Finding